<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).fadeOut(800);
<% else %>
  $('#comment-' +<%= @commend.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>