<h1>Case Studies</h1>
<p>I spent very little time on the aesthetics, so after I got the core functionality properly running, I moved on to my next project. Like my coding, I like to keep my case studies DRY, so I'm going to keep these as short and sweet as possible</p>

<h2>Monitor Assistant</h2>
<h3>What is it?</h3>
<p>
This app tracks and records 'events' that have happened in any of my other apps that I created. By events, i mean how many times a page is loaded, or how often a button gets clicked. These events are then put onto a pie chart and also a line chart.
</p>

<h3>Summary</h3>
<p>
  This app is designed for designers. It keeps a log of how often a feature is used, or how often a page is loaded. This app has some potential, but I until I personally use it, I don't see the need to add extra functionality.
</p>

<h2>Workout Wiki</h2>
<h3>What is it?</h3>
<p>
  This is a site where people with a passion for a healthy life through exercise could post their own personal work-outs, including the do's and don'ts of some well-known excercises, too.
</p>

<h3>Summary</h3>
  This app was designed to be a public wiki where anyone could sign up and add, edit, or delete public posts. I didn't particularly enjoy this project because of the lack of security. Any kid with too much time on his hands could completely destroy this site. However, I did learn how to incorporate the 'Stripe' gem and charge people for extra services.
<p>

</p>

<h2>Nocitoff</h2>
<h3>What is it?</h3>
<p>
  This is simply a to-do list, with items that delete themselves if not completed within 7 days. Users sign up for a free account and can start adding things that need to be done.
</p>

<h3>Summary</h3>
<p>
  Still fairly new to programming, I had a little trouble with AJAX, but my mentor walked me through it, and this was a great learning experience. There are a few more features I wanted to add, but I didn't believe in the usability of this app, seeing as how there are hundreds of to-do-list apps you can download for free and conveniently on your phone.
</p>

<h2>Bloccit</h2>

<h3>What is it?</h3>
<p>
  This is essentially a blog platform with all the gadgets and gizmos, with a few extra toys. The admin creates topics, where users can make posts on, and comment on each other posts. Each user is allowed an avatar, can downvote/upvote each post, or 'favorite' it.
</p>

<h3>Summary</h3>
<p>
  This is my very first project. The only reason for this app's existence was for me to learn. I was instructed on how to build it every step of the way, but in the process, I've learned the different component of a Rails app and how they work together. 
</p>