<h1>Blog</h1>

<h2>
  My journey thus far<br/>
  <small><small><small>8/14/2015</small></small></small>
</h2>
<p>
  Right around this time last year, I was thinking to myself "What do I want to do with my life?" After much thought, and weeks of research, I finally decided upon 'Web Developer'. But, why, you ask? Well one, the market was in high demand for one, and two, it pays good money. Let's dig a little deeper, though. Believe it or not, I actually enjoy sitting in front of the computer. I used to work construction, doing concrete, and nothing is better than A/C when you're out there in the Texas heat during summer. I've always been very meticulous, plus I get to build things without getting my hands dirty. Sounds like this career was made for me. Also, even if no one hires me, I can still use this skillset to build my own ideas. But, I digress.

  Even though money is the motivation, I still want to be great at what I do. I want to learn every nook and cranny of this coding business to a point where I can call myself a professional. As I develop as a developer, I hope to someday create something that everyone uses. And once I've gotten comfortable with my knowledge level, I may consider branching out to software or mobile apps.
</p>