/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

.vote-arrows {
  width: 40px;
  text-align: center;
}

.top-bar {
  height: 50px;
  width: 100%;
  background-color: #000000;
}

#quick-links {
  height: 500px;
  background-color: grey;
  margin-top: 30px;
  border-radius: 5px;
}

.top-bar-info {
  margin-top: 5px;
}

.user-info {
  margin-top: 20px;
}

.nav-links {
  text-color: #FFFFFF;
}

body {
  background-color: #C0C0C0;
  padding-top: 4.4em;
}

.search-bar {
  margin-top: 3em;
}

.select-avatar {
  height: 150px;
  width: 150px;
}

.nav-pills {
  a:link, a:visited {
    color: #C0C0C0;
  }

  a:hover {
    color: black;
  }
}

.user-info{
  color: white;
  a:link, a:visited {
    color: grey;
  }
}

#quick-links {
  a:link, a:visited {
    color: #C0C0C0;
  }

  a:hover {
    color: black;
  }
}

.small-avatar {
  height: 50px;
  width: 50px;
}

.form-control {
  width: 50%;
}

.field > .form-control {
  width: 15em;
}

.modal-content {
  padding: 3em;
}

.intro {
  width: 100%;
  height: 57em;
  text-align: center;
  padding: 10em;
}

.intro0 {
  width: 100%;
  height: 52em;
  text-align: center;
  padding: 10em;
}